.weather-details {
    background: linear-gradient(70deg, #48355b 0%, #91bef3 100%);
    width: 60%;
    height: 100%;
    min-height: 100vh;
    padding-left: 70px;
    padding-right: 70px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
