.switch {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-family: 'Inter', sans-serif;
    padding-top: 67px;
    position: relative;
    button {
        color: hsl(0, 0%, 100%);
        width: 56px;
        height: 37px;
        flex-shrink: 0;
        border-radius: 100px;
        background-color: rgba(183, 202, 240, 0.418);
        border: none;
        cursor: pointer;
    }
    .button-c {
        position: absolute;
        top: 20;
        right: 35px;
        width: 56px;
        height: 37px;
        &.active {
            background-color: rgb(183, 202, 240);
        }
    }
    .button-f {
        &.active{
            background-color: rgb(183, 202, 240);
        }
    }
}
